/***************** MASTHEAD **********
****************************************/

header.masthead {
  padding-top: 10.5rem;
  padding-bottom: 5rem;
  text-align: center;
  color: rgb(0, 0, 0);
  background-image: url("images/fun-house-pizza-40-highway-Google-Search.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 600px;
}

  #logo {
  width: 120px;
  position: fixed;
  property: inline-block;
  top: 10px;
  left: 40px;
  z-index: 5;
}


/***************** NAVIGATION **********
****************************************/

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 60px;
  background-color: #1D3557;
  z-index: 1;
}

#mainNav .navbar-toggler {
  padding: 0.75rem;
  font-family: 'Mukta', sans-serif;
  font-size: 0.75rem;
  color: #fff;
  text-transform: uppercase;
  background-color: #457B9D;
  border: 0;
}
#mainNav .navbar-brand {
  color: #457B9D;
  font-family: 'Mukta', sans-serif;
  font-weight: 700;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-family: 'Mukta', sans-serif;
  font-size: 1.2rem;
  color: #fff;
  letter-spacing: 0.0625em;
}
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #E63946;
}
/************* END OF NAVIGATION ************/


body {
  width: 100%;
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Mukta', sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
}

h1, h2, h5 {
  font-family: 'Merienda One', cursive;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}


/******* INTRODUCTION SECTION ***********
****************************************/

#intro {
  position: relative;
  width: 100%;
  height: 400px;
  padding: 40px 40px;
  margin: 0 auto;
  text-align: center; 
  background-color: #E63946;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  z-index: 0;
}

#intro img {
  position: absolute;
  color: white;
}

#intro p {
  font-size: 1.6rem;
  padding: 20px 100px;
  width: 70%;
  margin: 0 auto;
}

#intro h1 {
  font-size: 4.4em;
}

.btn {
  background-color: #457B9D;
  color: white;
  margin: 0 auto;
  text-shadow: none;
}

#starburst1 {
  opacity: .12;
  width: 400px;
  top: 25px;
  right: 35px;
}

#starburst2 {
  opacity: .19;
  width: 410px;
  top: 0;
  left: 10px;
  transform: rotate(23deg);
}

#starburst3 {
  opacity: .2;
  width: 200px;
  top: 0;
  left: 400px;
  transform: rotate(260deg);
}

#intro:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content:'';
  background: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top left;
  transform: skewY(4deg);
  z-index: -1;
}

#intro:before {
  position: absolute;
  width: 100%;
  height: 100%;
  content:'';
  background: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top right;
  transform: skewY(4deg);
  z-index: 0;
}

/************** INFORMATION SECTION ***********
****************************************/

#info {
  background-image: url("images/Circus-Poster - adjusted.svg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: auto;
  height: 670px;
  padding-top: 200px;
}

#info .row {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

.phone {
  width: 50px;
}


/************** DAILY SPECIALS ***********
****************************************/

#dailySpecials {
  position: relative;
  width: 100%;
  height: 750px;
  padding: 40px 0px;
  text-align: center; 
  background-color: #A8DADC;
  color: #b11c28;
  text-shadow: 2px 2px 4px #f1d4d6;
  z-index: 0;
  margin: 0 auto;
}

#dailySpecials:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content:'';
  background: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top left;
  transform: skewY(-4deg);
  z-index: -1;
}

#dailySpecials img {
  position: absolute;
  color: white;
  overflow: hidden;
}

#dailySpecials h1 {
  font-size: 3rem;
  padding-bottom: 40px;
}

#dailySpecials h2, #dailySpecials h5  {
  padding-bottom: 20px;
}

#dailySpecials p {
  line-height: 1.2em;
}

#dailySpecials .btn {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 40px;
}

#dailySpecials .row {
  width: 100%;
  margin: 0 auto;
}

#lunch {
  padding-bottom: 50px;
}

#starburst4 {
  opacity: 0.2;
  width: 200px;
  top: 10;
  right: 40;
  transform: rotate(160deg);
}

#starburst5 {
  opacity: 0.2;
  width: 500px;
  top: 10;
  right: 0;
  transform: rotate(200deg);
}

#starburst6 {
  opacity: 0.18;
  width: 400px;
  bottom: 60px;
  left: 140px;
  transform: rotate(0deg);
}

/****** FOOTER ********
**********************/

footer {
  bottom: 0;
  right: 0;
  height: 100px;
  background-color: #1D3557;
  color: white;
}

footer p {
  font-size: 1.3rem;
  padding-top: 40px;
  text-align: center;
}

footer ul {
  width: 300px;
  height: 70px;
  position: relative;
  top: -100px;
  left: 200px;
  padding-left: 15px;
}

footer img {
  width: 60px;
  padding-left: 20px;
}

/************* MEDIA QUERIES  **********
****************************************/

  @media (max-width: 1450px) {
    #intro {
      height: 400px;
    }      
    #intro p {
      width: 90%;
    }
    #info {
      padding-top: 150px;
    }  
    #dailySpecials .row {
      width: 70%;
    }
    #lunch {
      padding-right: 60px;
    }
    #nightly {
      padding-left: 60px;
    }
    #dailySpecials {
      height: 900px;
    }
    footer ul {
      left: 100px;
    }
  }


  @media (max-width: 1200px) {
    #intro p {
      padding: 20px 0;
    } 
    #dailySpecials {
      height: 1000px;
    }
  }

  @media (max-width: 1000px) {
    #intro {
      height: 450px;
    }      
    #dailySpecials {
      height: 1200px;
    }
    #nightly, #lunch {
      padding-left: 0;
      padding-right:0;
    }
    #dailySpecials {
      height: 1000px;
    }
    footer ul {
      left: 20px;
    }
  }

  @media (max-width: 890px) {
    #starburst1 {
      display: none;
    } 

    #specials .row{
      width: 80%;
      padding: 0; 
    }

    #dailySpecials p {
     font-size: 1.4rem;
    }

    #dailySpecials .row {
      width: 80%;
    }
  }

  @media (max-width: 767px) {
    #intro {
      height: 500px;
    }
    #info {
      padding-top: 120px;
      height: 850px;
    } 
    #hours {
      margin-bottom: 40px;
    }
    #dailySpecials {
      height: 1200px;
    }
  }


  /*************** NAVBAR MEDIA QUERIES **************
  ****************************************************/
  @media (min-width: 992px) {
    #mainNav {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      border: none;
      background-color: transparent; 
      transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    }
    #mainNav .navbar-brand {
      font-size: 1.5em;
      transition: font-size 0.3s ease-in-out;
    }
    #mainNav .navbar-brand img {
      height: 2rem;
      transition: height 0.3s ease-in-out;
    }
    #mainNav.navbar-shrink {
      padding-top: 1rem;
      padding-bottom: 1rem;
      background-color: #1D3557;
    }
    #mainNav.navbar-shrink .navbar-brand {
      font-size: 1.25em;
    }
    #mainNav.navbar-shrink .navbar-brand svg,
  #mainNav.navbar-shrink .navbar-brand img {
      height: 1.5rem;
    }
    #mainNav .navbar-nav .nav-item {
      margin-right: 1rem;
    }
    #mainNav .navbar-nav .nav-item:last-child {
      margin-right: 0;
    }
  }